<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681082286778-s8qbpb8s7ct71sohdvb9kuql6tlbfa96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681082286778-s8qbpb8s7ct71sohdvb9kuql6tlbfa96</string>
	<key>API_KEY</key>
	<string>AIzaSyCV68gYGZzWkuSaVEItAqA-6dRLq9tQPZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>681082286778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chapter3StatefullWidgets</string>
	<key>PROJECT_ID</key>
	<string>quiz-making-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-making-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681082286778:ios:9b15bb03380a6fd65a4883</string>
</dict>
</plist>